@import url('./fonts/fonts.css');

.font-jhenghei {
    font-family: 'JHengHei', Arial, sans-serif;
}

.font-optima {
    font-family: 'Optima', Arial, sans-serif;
}

.font-hanwangming {
    font-family: 'HanWangMing', Arial, sans-serif;
}

img.maximize-image {
    width: 100%;
    height: auto;
}

.font-orange {
    color: #f37d20;
}

.content {
    background: #fefbf7;
    border-top: 1px solid #f37d20;
    border-bottom: 1px solid #f37d20;
    -webkit-box-shadow: 0 0 150px -25px #000;
    -moz-box-shadow: 0 0 150px -25px #000;
    box-shadow: 0 10px 25px 10px rgba(0, 0, 0, .1);
    padding-top: 50px;
    padding-bottom: 50px;
}

a.btn-custom {
    padding: 10px 40px;
    border: 1px solid #f37d20;
    border-radius: 0;
    background: transparent;
    color: #f37d20;
    -webkit-transition: background .5s, color .5s;
    -moz-transition: background .5s, color .5s;
    -ms-transition: background .5s, color .5s;
    -o-transition: background .5s, color .5s;
    transition: background .5s, color .5s;
}

a.btn-custom:hover, a.btn-custom:focus {
    background: #f37d20;
    color: white;
    outline: 0;
}

div.content .product-info-container ul {
    padding-left: 20px;
}

div.content .product-info-container li {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

div.btn-container {
    margin-bottom: 20px;
}

div.modal-header {
    border: 0;
}

div.modal-content {
    border-radius: 0;
    border: 1px solid #f37d20;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div.purchase-container p.purchase-title {
    border-bottom: 1px solid #f37d20;
}

@media only screen and (min-width: 768px) {

    .font-size-1 {
        font-size: 60px;
    }

    .font-size-2 {
        font-size: 36px;
    }

    .font-size-3 {
        font-size: 32px;
    }

    .font-size-4 {
        font-size: 30px;
    }

    .font-size-5 {
        font-size: 24px;
    }

    .font-size-6 {
        font-size: 18px;
    }

    .font-size-7 {
        font-size: 16px;
    }

    .font-size-8 {
        font-size: 12px;
    }

    div.header {
        height: 150px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    div.content .info-product {
        position: relative;
    }

    div.content .product-image-container {
        width: 45%;
        padding-right: 15px;
    }

    div.content .product-info-container {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-left: 15px;
    }

    div.modal .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    div.modal.in .modal-dialog {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    div.modal.fade .modal-dialog {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    div.purchase-container {
        position: relative;
    }

    div.purchase-container .purchase-info {
        width: 50%;
    }

    div.purchase-container .purchase-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
    }

    div.purchase-container .purchase-btn .btn-container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}

@media only screen and (min-width: 992px) {

    div.content .container {
        position: relative;
    }

    div.content .info-container {
        position: absolute;
        top: 50%;
        right: 15px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

}

@media only screen and (min-width: 1200px) {

    div.content .image-container {
        width: 50%;
    }

    div.content .info-container {
        left: 50%;
    }

    div.content .info-product {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    div.content .product-image-container {
        width: 45%;
    }

    div.content .product-info-container {
        left: 45%;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    div.content .image-container {
        width: 50%;
    }

    div.content .info-container {
        left: 50%;
    }

    div.content .info-product {
        margin-top: 80px;
        margin-bottom: 25px;
    }

    div.content .product-image-container {
        width: 45%;
    }

    div.content .product-info-container {
        left: 45%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    div.content .image-container {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    div.content .info-container {
        left: 50%;
    }

    div.content .info-about {
        margin: 25px auto;
    }

    div.content .info-product {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    div.content .product-image-container {
        width: 45%;
    }

    div.content .product-info-container {
        left: 45%;
    }

}

@media only screen and (max-width: 767px) {

    .font-size-1 {
        font-size: 36px;
    }

    .font-size-2 {
        font-size: 24px;
    }

    .font-size-3 {
        font-size: 20px;
    }

    .font-size-4 {
        font-size: 18px;
    }

    .font-size-5 {
        font-size: 18px;
    }

    .font-size-6 {
        font-size: 14px;
    }

    .font-size-7 {
        font-size: 12px;
    }

    .font-size-8 {
        font-size: 10px;
    }

    div.header {
        height: 250px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
    }

    div.header .logo {
        padding-bottom: 30px;
    }

    div.content .image-container {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    div.content .info-about {
        margin: 25px auto;
    }

    div.content .info-product {
        margin: 25px auto;
        width: 290px;
    }

    div.content .product-image-container {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }

    div.footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    div.modal-dialog {
        margin: 0;
    }

    div.purchase-container .purchase-info {
        padding-bottom: 30px;
        border-bottom: 1px solid #384850;
    }

    div.purchase-container .purchase-btn {
        padding-top: 30px;
        text-align: center;
    }

}